/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

body{
  margin-top: 40px;
}

.sidebar-nav {
  margin-top: 10px;
  padding: 20 20;
  list-style: none;

}
